
<div class="jumbotron">
  <h1>Your total score is <%= @total_score %></h1>
  <p>You should shoot for the schools in green</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="filter">
      </div>
      <div class="table">
        <% @schools.each do |school| %>
          <% if @total_score + 285 < school.avg_score  %>
            <div class="t-row">
              <div class="cell">
                <div class="school-name"><%= school.name %></div>
                <div class="avg-score">
                  <div class="label">avg score for acceptance: <%= school.avg_score %></div>
                </div>
              </div>
              <div class="cell">
                <div class="chance low">low</div>
                <div class="label">chance of acceptance</div>
              </div>
              <div class="cell">

              </div>
            </div>
          <% else %>
            <div class="t-row high-acceptance">
              <div class="cell">
                <div class="transp">-</div>
                <div class="school-name"><%= school.name %></div>
                <div class="avg-score">
                  <div class="label">avg score for acceptance: <%= school.avg_score %></div>
                </div>
              </div>
              <div class="cell">
                <div class="transp">-</div>
                <div class="chance high">high</div>
                <div class="label">chance of acceptance</div>
              </div>
              <div class="cell">
                <div class="label">you need to get</div>
                  <div class="score">
                    <span class="num"><%= school.avg_score - @total_score  %></span>
                    points
                  </div>
                  <span class="or">-or-</span>
                  <div class="percent"><%= ((school.avg_score - @total_score)*100.0/300).round(0)  %>%</div>
                <div class="label">on the admissions test</div>
              </div>
            </div>
          <% end %>

        <% end %>


      </div>

    </div>
  </div>


</div>

<h2>School locations</h2>
<p>Mouse over the marker to find the school name</p>

<style type="text/css">
  html, body, #map-canvas { height: 500px; margin: 0;}
</style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: { lat: 41.8369, lng: -87.6847},
      zoom: 10
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    <% @schools.each do |school| %>
      var myLatlng = new google.maps.LatLng(<%= school.lat %>,<%= school.long %>);
      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title:"<%= school.name %>"
      });
    <% end %>
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>
