<!-- Validation failure messages -->

<% if @school.errors.any? %>
  <% @school.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add School</h3>
      </div>
      <div class="panel-body">
        <%= form_tag schools_url, :method => "post", :class => "form-horizontal" do %>
          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @school.name %>">
            </div>
          </div>

          <!-- Label and input for tier1_score -->
          <div class="form-group">
            <label for="tier1_score" class="col-sm-2 control-label">
              Tier 1 score
            </label>
            <div class="col-sm-10">
              <input type="text" id="tier1_score" name="tier1_score" placeholder="tier1 score" class="form-control" value="<%= @school.tier1_score %>">
            </div>
          </div>


          <!-- Label and input for tier2_score -->
          <div class="form-group">
            <label for="tier2_score" class="col-sm-2 control-label">
              Tier 2 score
            </label>
            <div class="col-sm-10">
              <input type="text" id="tier2_score" name="tier2_score" placeholder="tier2 score" class="form-control" value="<%= @school.tier2_score %>">
            </div>
          </div>


          <!-- Label and input for tier3_score -->
          <div class="form-group">
            <label for="tier3_score" class="col-sm-2 control-label">
              Tier 3 score
            </label>
            <div class="col-sm-10">
              <input type="text" id="tier3_score" name="tier3_score" placeholder="tier3 score" class="form-control" value="<%= @school.tier3_score %>">
            </div>
          </div>


          <!-- Label and input for tier4_score -->
          <div class="form-group">
            <label for="tier4_score" class="col-sm-2 control-label">
              Tier 4 score
            </label>
            <div class="col-sm-10">
              <input type="text" id="tier4_score" name="tier4_score" placeholder="tier4 score" class="form-control" value="<%= @school.tier4_score %>">
            </div>
          </div>

          <!-- Label and input for category -->
          <div class="form-group">
            <label for="category" class="col-sm-2 control-label">
              Category
            </label>
            <div class="col-sm-10">
              <input type="text" id="category" name="category" placeholder="Category" class="form-control" value="<%= @school.category %>">
            </div>
          </div>

          <!-- Label and input for address -->
          <div class="form-group">
            <label for="address" class="col-sm-2 control-label">
              Address
            </label>
            <div class="col-sm-10">
              <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @school.address %>">
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create School" class="btn btn-success">
              or
              <a href="/schools">Cancel</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
