<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">School #<%= @school.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><%= @school.name %></dd>

              <dt>Avg score</dt>
              <dd><%= @school.avg_score %></dd>

              <dt>Category</dt>
              <dd><%= @school.category %></dd>

              <dt>Address</dt>
              <dd><%= @school.address %></dd>

              <dt>Lat</dt>
              <dd><%= @school.lat %></dd>

              <dt>Long</dt>
              <dd><%= @school.long %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to schools_url, :class => "btn btn-primary" do %>
                <i class="fa fa-chevron-left"></i>
              <% end %>
              <%= link_to edit_school_url(@school.id), :class => "btn btn-warning" do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to school_url(@school.id), :method => "delete", :data => { :confirm => "Do you really want to delete this school?" }, :class => "btn btn-danger" do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
